In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,3/26/2022 21:04,-21.2078,-159.7750,80.65,83,40,11.50
1,1,Swindon,GB,3/26/2022 21:04,51.5580,-1.7812,53.24,81,0,9.22
2,2,Longyearbyen,SJ,3/26/2022 21:04,78.2186,15.6401,-4.16,84,20,11.50
3,3,Jamestown,US,3/26/2022 21:04,42.0970,-79.2353,35.24,66,100,14.97
4,4,Berberati,CF,3/26/2022 21:04,4.2612,15.7922,75.94,40,81,1.81

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
temps

[80.65,
 53.24,
 0,
 35.24,
 75.94,
 79.39,
 60.39,
 23.16,
 66.96,
 79.54,
 46.71,
 57.2,
 48.02,
 48.92,
 4.53,
 68.97,
 69.51,
 52.36,
 12.79,
 75.4,
 48.27,
 82.89,
 65.32,
 0,
 81.68,
 42.91,
 0,
 79.81,
 57.42,
 0.7,
 77.38,
 80.15,
 65.93,
 78.21,
 7.07,
 63.73,
 64.45,
 59.5,
 64.8,
 60.66,
 63.45,
 83.89,
 78.48,
 81.9,
 23.11,
 47.98,
 42.71,
 73.0,
 79.21,
 17.35,
 84.65,
 83.03,
 62.35,
 0,
 43.83,
 13.62,
 80.33,
 82.72,
 60.03,
 63.72,
 81.54,
 45.52,
 35.78,
 68.09,
 77.29,
 54.88,
 55.22,
 38.71,
 65.95,
 50.22,
 53.11,
 3.29,
 82.11,
 69.82,
 78.84,
 75.4,
 9.1,
 71.26,
 49.66,
 64.96,
 80.28,
 81.21,
 62.92,
 82.36,
 62.01,
 61.29,
 77.18,
 76.75,
 55.69,
 87.62,
 79.18,
 82.09,
 59.92,
 27.27,
 76.59,
 48.34,
 72.61,
 74.01,
 87.44,
 66.27,
 30.58,
 41.09,
 83.21,
 70.97,
 68.09,
 0,
 38.62,
 64.29,
 78.84,
 75.63,
 43.84,
 54.23,
 75.76,
 76.14,
 75.7,
 21.83,
 0,
 65.98,
 68.7,
 74.05,
 78.66,
 0,
 0,
 68.49,
 40.28,
 73.45,
 74.32,
 80.24,
 76.39,
 75.96,
 62.44,
 35.92,
 70.75,
 80.62,
 35.47,
 0,
 58.08,
 51.82,
 47.26,
 46.67,
 73.53,
 73.26,
 79.2,
 73.47,
 81.09,
 33.62,
 65.16,
 79.39,
 52.77,
 81.68,
 30.06,
 5.7,
 79.25,
 54.28,
 75.22,
 75.58,
 82.45,
 0,
 41.5,
 68.52,
 66.04,
 82.33,
 20.14,
 76.86,
 78.39,
 0.54,
 61.11,
 14.04,
 64.18,
 70.07,
 86.2,
 62.89,
 59.14,
 65.93,
 0,
 47.32,
 54.7,
 79.68,
 48.11,
 85.53,
 74.53,
 80.01,
 69.4,
 44.49,
 86.94,
 15.82,
 88.52,
 71.35,
 77.29,
 73.26,
 0,
 79.79,
 75.99,
 58.68,
 63.93,
 85.95,
 57.45,
 69.49,
 0,
 71.42,
 0,
 23.7,
 81.19,
 77.58,
 27.88,
 82.4,
 18.16,
 82.38,
 79.65,
 17.67,
 40.15,
 74.75,
 73.04,
 22.69,
 36.1,
 58.03,
 0.5,
 6.48,
 79.56,
 0,
 37.11,
 81.37,
 69.85,
 12.79,
 56.32,
 0,
 66.56,
 76.5,
 81.63,
 77.14,
 23.29,
 31.77,
 8.49,
 66.54,
 50.92,
 52.41,
 0,
 34.36,
 52.84,
 54.9,
 69.49,
 62.96,
 66.34,
 73.51,
 61.2,
 80.01,
 41.18,
 51.71,
 0,
 72.59,
 59.41,
 77.61,
 92.57,
 86.86,
 75.99,
 26.74,
 72.07,
 65.48,
 72.32,
 62.55,
 64.09,
 74.16,
 71.37,
 77.05,
 72.01,
 64.42,
 26.74,
 82.04,
 77.97,
 1.26,
 1.96,
 0,
 75.18,
 74.88,
 47.55,
 54.12,
 30.18,
 1.44,
 56.08,
 28.62,
 16.02,
 83.46,
 47.16,
 59.09,
 43.72,
 69.44,
 37.99,
 77.5,
 82.29,
 0,
 54.64,
 78.6,
 46.22,
 60.8,
 85.62,
 77.86,
 78.82,
 76.95,
 64.89,
 63.14,
 0,
 65.32,
 31.8,
 4.86,
 81.45,
 75.34,
 77.14,
 67.24,
 58.89,
 31.44,
 60.48,
 50.36,
 80.15,
 79.95,
 24.8,
 84.22,
 61.57,
 77.92,
 80.17,
 46.02,
 23.11,
 57.6,
 49.93,
 53.08,
 56.93,
 29.98,
 45.21,
 61.43,
 79.47,
 52.14,
 24.64,
 81.59,
 41.95,
 81.55,
 0.36,
 15.13,
 28.85,
 81.21,
 57.0,
 81.34,
 76.28,
 50.92,
 32.92,
 86.47,
 79.34,
 72.0,
 66.65,
 9.34,
 76.84,
 59.13,
 51.91,
 78.39,
 30.22,
 83.01,
 89.8,
 68.43,
 16.66,
 80.38,
 76.37,
 20.43,
 68.54,
 76.69,
 49.3,
 75.87,
 30.2,
 14.36,
 64.33,
 77.36,
 77.0,
 77.77,
 80.92,
 33.91,
 32.45,
 77.67,
 54.63,
 18.97,
 55.35,
 82.26,
 71.19,
 69.98,
 82.49,
 39.25,
 19.6,
 89.82,
 0,
 4.98,
 15.89,
 22.8,
 60.53,
 82.58,
 43.83,
 33.28,
 57.92,
 31.3,
 70.29,
 64.17,
 8.8,
 73.85,
 79.45,
 29.73,
 89.06,
 79.09,
 75.74,
 71.2,
 82.35,
 29.77,
 69.91,
 31.19,
 85.3,
 73.24,
 65.1,
 32.02,
 70.38,
 79.0,
 54.95,
 59.74,
 48.7,
 0,
 15.04,
 35.64,
 59.47,
 62.85,
 36.32,
 76.23,
 73.51,
 76.5,
 80.04,
 72.97,
 74.07,
 53.08,
 0,
 37.2,
 76.71,
 50.56,
 56.12,
 79.38,
 36.72,
 19.45,
 62.73,
 81.01,
 67.86,
 18.25,
 52.21,
 73.31,
 55.94,
 77.27,
 70.92,
 46.98,
 34.38,
 77.4,
 85.91,
 24.49,
 72.57,
 55.04,
 83.77,
 67.89,
 62.89,
 62.28,
 78.94,
 84.69,
 37.27,
 78.53,
 10.2,
 81.3,
 38.82,
 43.86,
 68.11,
 87.24,
 83.37,
 57.6,
 78.15,
 60.69,
 67.28,
 78.82,
 24.57,
 76.82,
 35.64,
 64.36,
 80.58,
 81.52,
 73.27,
 73.9,
 24.85,
 75.0,
 88.21,
 82.18,
 41.65,
 0,
 58.75,
 56.37,
 64.9,
 57.6,
 82.6,
 79.66,
 44.62,
 80.58,
 35.15,
 76.37,
 75.47,
 26.47,
 84.24,
 76.35,
 18.64,
 41.47,
 74.71,
 50.07,
 66.4,
 71.28,
 69.08,
 84.11,
 23.79,
 37.96,
 58.32,
 54.59,
 15.75,
 79.47,
 32.04,
 37.33,
 91.49,
 67.41,
 53.4,
 50.97,
 76.23,
 4.39,
 13.96,
 47.64,
 27.86,
 66.06,
 74.35,
 79.0,
 31.33,
 9.43,
 51.35,
 72.28,
 79.72,
 82.89,
 60.96,
 75.29,
 45.46,
 0.0,
 87.84,
 70.65,
 76.66,
 64.45,
 56.68,
 70.79,
 64.9,
 86.52,
 26.2,
 77.95,
 27.81,
 82.22,
 80.98,
 73.56,
 54.43,
 78.22]

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,3/26/2022 21:04,-21.2078,-159.7750,80.65,83,40,11.50
4,4,Berberati,CF,3/26/2022 21:04,4.2612,15.7922,75.94,40,81,1.81
5,5,Atuona,PF,3/26/2022 21:04,-9.8000,-139.0333,79.39,76,48,17.49
9,9,Itarema,BR,3/26/2022 21:04,-2.9248,-39.9167,79.54,82,99,10.20
19,19,Bengkulu,ID,3/26/2022 21:04,-3.8004,102.2655,75.40,89,81,6.96
21,21,Hithadhoo,MV,3/26/2022 21:05,-0.6000,73.0833,82.89,69,2,12.35
24,24,Butaritari,KI,3/26/2022 21:05,3.0707,172.7902,81.68,72,100,12.73
27,27,Kindia,GN,3/26/2022 21:05,10.0569,-12.8658,79.81,56,40,5.75
30,30,Hambantota,LK,3/26/2022 21:05,6.1241,81.1185,77.38,85,5,4.05
31,31,Soyo,AO,3/26/2022 21:05,-6.1349,12.3689,80.15,89,95,8.99

In [19]:
# See if there are null values
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
# If you have some rows with null values, 
# you'll need to drop them using the dropna() method at the end of your filtering 
# statement when you are creating the new DataFrame.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,3/26/2022 21:04,-21.2078,-159.7750,80.65,83,40,11.50
4,4,Berberati,CF,3/26/2022 21:04,4.2612,15.7922,75.94,40,81,1.81
5,5,Atuona,PF,3/26/2022 21:04,-9.8000,-139.0333,79.39,76,48,17.49
9,9,Itarema,BR,3/26/2022 21:04,-2.9248,-39.9167,79.54,82,99,10.20
19,19,Bengkulu,ID,3/26/2022 21:04,-3.8004,102.2655,75.40,89,81,6.96
...,...,...,...,...,...,...,...,...,...,...
547,547,Contamana,PE,3/26/2022 21:08,-7.3333,-75.0167,86.52,55,45,5.86
549,549,Sao Felix Do Xingu,BR,3/26/2022 21:08,-6.6447,-51.9950,77.95,90,21,3.98
551,551,Acapulco,MX,3/26/2022 21:08,16.8634,-99.8901,82.22,65,100,12.66
552,552,Calauan,PH,3/26/2022 21:08,14.1500,121.3167,80.98,89,19,4.76
555,555,Cajati,BR,3/26/2022 21:08,-24.7361,-48.1228,78.22,87,73,2.19

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Avarua      CK     80.65 -21.2078 -159.7750
4    Berberati      CF     75.94   4.2612   15.7922
5       Atuona      PF     79.39  -9.8000 -139.0333
9      Itarema      BR     79.54  -2.9248  -39.9167
19    Bengkulu      ID     75.40  -3.8004  102.2655
21   Hithadhoo      MV     82.89  -0.6000   73.0833
24  Butaritari      KI     81.68   3.0707  172.7902
27      Kindia      GN     79.81  10.0569  -12.8658
30  Hambantota      LK     77.38   6.1241   81.1185
31        Soyo      AO     80.15  -6.1349   12.3689

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng       Hotel Name
0       Avarua      CK     80.65 -21.2078 -159.7750  Avarua District
4    Berberati      CF     75.94   4.2612   15.7922        Berbérati
5       Atuona      PF     79.39  -9.8000 -139.0333           Atuona
9      Itarema      BR     79.54  -2.9248  -39.9167          Itarema
19    Bengkulu      ID     75.40  -3.8004  102.2655         Bengkulu
21   Hithadhoo      MV     82.89  -0.6000   73.0833        Addu City
24  Butaritari      KI     81.68   3.0707  172.7902        Ukiangang
27      Kindia      GN     79.81  10.0569  -12.8658           Kindia
30  Hambantota      LK     77.38   6.1241   81.1185       Hambantota
31        Soyo      AO     80.15  -6.1349   12.3689             Soyo

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))